{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Products list{% endblock %}
{% block jslink %}
<script>
requirejs(['content/list_basic']);
</script>
{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2">title</th>
                    <th class="col-sm-10">description</th>
                </tr>
            </thead>
            <tbody>
                {% for info in filter_ls%}
                <tr>
                    <td>
                        <a target="_blank" href="{{ info.url }}">{{ info.title }}-{{ info.color_name }}</a>
                    </td>
                    <td>{{ info.description_text | safe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav>
            <ul id="pagination" class="pagination">

            </ul>
        </nav>

    </div>
</div>
    <script id="page_data" type="application/json">
        {{ page_json|safe }}
    </script>
</div>

{% endblock %}
