<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}  {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static from staticfiles %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    {% block css %}  {% endblock %}

    <script src="{% static 'js/require.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    {% block jslink %}  {% endblock %}

    {% block style %}  {% endblock %}

</head>
<body>
    {% block content %}  {% endblock %}
    {% block js %}  {% endblock %}
</body></html>
